.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: orangered ;
}

text {
    font: 10px sans-serif;
}

.x.axis path {
    display: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
svg text.percent{
    fill:white;
    text-anchor:middle;
    font-size:10px;
}

svg text.warning{
    fill:red;
    text-anchor:middle;
    font-size:20px;
    font-weight:bold;
}

svg text.small_warning{
    fill:red;
    text-anchor:middle;
    font-size:12px;
    font-weight:bold;
}

svg text.header{
    fill:black;
    text-anchor:middle;
    font-size:20px;
    font-weight:bold;
}

svg text.title{
    fill:black;
    text-anchor:middle;
    font-size:13px;
    font-weight:bold;
}

.background path {
    fill: none;
    stroke: #ccc;
    stroke-opacity: .4;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
    stroke-opacity: .7;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.arc path {
    stroke: #fff;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.versionLine {
    stroke: #CC0000;
    stroke-width: 2px;
}

.versionLineFocus {
    stroke: black;
    stroke-width: 2px;
}