/*.nav,*/
/*.pagination,*/
/*.carousel a {*/
    /*cursor: pointer;*/
/*}*/

/*.fixed {*/
    /*position: fixed;*/
    /*margin: 0;*/
/*}*/

/*[ng-cloak] {*/
    /*display: none;*/
/*}*/

/*div.fixed {*/
    /*overflow-y: auto;*/
    /*height: 100%;*/
    /*margin-left: -15px;*/
/*}*/

/*pre {*/
    /*margin: 1ex 0;*/
/*}*/

/*form,*/
/*ng-form {*/
    /*border: 1px solid blue;*/
    /*border-radius: 4px;*/
    /*display: block;*/
/*}*/

/*fieldset {*/
    /*border: 1px solid blue;*/
    /*border-radius: 4px;*/
    /*display: block;*/
    /*padding: .35em .625em .75em;*/
    /*margin: 0 2px;*/
/*}*/

legend {
    font-weight: bold;
}

/*fieldset > legend:first-of-type {*/
    /*border: none;*/
    /*margin-bottom: auto;*/
    /*width: inherit;*/
    /*padding: inherit;*/
    /*color: blue;*/
/*}*/

/*label,*/
/*span,*/
/*form > button,*/
/*ng-form > button,*/
/*form > input,*/
/*ng-form > input*/
/*{*/
    /*width: 48%;*/
    /*padding: 1ex 1em;*/
    /*float: left;*/
/*}*/

/*label > input,*/
/*label > select,*/
/*label > textarea {*/
    /*float: right;*/
    /*width: 60%;*/
/*}*/

/*label div > label {*/
    /*display: block;*/
    /*padding: 1ex;*/
    /*width: 100%;*/
/*}*/