.list {
    list-style: none outside none;
    margin: 10px 0 30px;
}

.export-fields-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    padding: 5px;
    min-width:200px;
    min-height:50px;
}

.exportField {
    width: 185px;
    padding: 2px 10px;
    margin: 3px 0;
    border: 1px solid #add8e6;
    background-color: #d6ebf2;

    text-align: center;
    cursor: move;
}

.export-field-ui-container {
    padding: 20px 0;
}

/***  Extra ***/

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clear {
    clear: both;
}
