.project
*/.project
target
threadfix-cli.log*
threadfix-cli.log
threadfix-ide-plugin/intellij/intellij.zip
database
threadfix-main/src/main/resources/threadfix.license

threadfix-scanagent/threadfix.log
bin
*.DS_Store
*dependency-reduced-pom.xml
*.iml

.classpath
.settings
.idea/
*.DS_Store
threadfix-enterprise
threadfix-scanagent
Build
netrc
scanagent.properties
sonar-project.properties

