.input-dropdown {
  display: inline-block;
  position: relative;
}

.input-dropdown input[type='text'] {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}

.input-dropdown ul {
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.input-dropdown ul > li {
  cursor: pointer;
  padding: 10px;
}

.input-dropdown ul > li.active {
  background: #608AEB;
}

/* Custom input dropdown styles */
.input-dropdown {
  margin: 0 30px 0 0;
  width: 220px; /* set the width of the input and dropdown */
}
.input-dropdown input[type='text'] {
  font-size: 15px;
  padding: 5px;
}
.input-dropdown ul > li {
  transition: background .15s;
}
