<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.example.helloworld.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="ThreadFix">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="com.denimgroup.threadfix.plugin.eclipse.ImportAction"
               id="com.denimgroup.threadfix.plugin.eclipse.ImportAction"
               label="Import ThreadFix Results"
               menubarPath="sampleMenu/sampleGroup"
               tooltip="Pull Vulnerable Spring Endpoint Information From ThreadFix">
         </action>
         <action
               class="com.denimgroup.threadfix.plugin.eclipse.ClearAction"
               id="com.denimgroup.threadfix.plugin.eclipse.ClearAction"
               label="Clear ThreadFix warnings"
               menubarPath="sampleMenu/sampleGroup"
               tooltip="Pull Vulnerable Spring Endpoint Information From ThreadFix">
         </action>
      </actionSet>
   </extension>
   
    <extension id="threadfixmarker" point="org.eclipse.core.resources.markers"/>
	<extension id="threadfixproblem" point="org.eclipse.core.resources.markers">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="com.denimgroup.threadfix.plugin.eclipse.threadfixmarker"/>
	   <persistent value="true"/>
	</extension>

</plugin>
