<html style="font-family: "Helvetica Neue", Helvetica, Arial, sans-serif">
    <body>
        <p>Report of new Acceptance Criteria status changes.</p>

        #foreach( $acceptanceCriteria in $acceptanceCriterias )
            <div>
                <h3>
                    Changes for $acceptanceCriteria
                </h3>

                #set( $changedStatuses = $changedStatusesMap[$acceptanceCriteria] )

                <ul>
                    #foreach( $changedStatus in $changedStatuses )
                        #if ( $changedStatus.passing )
                            #set( $color = 'green')
                            #set( $status = 'passing')
                        #else
                            #set( $color = 'red')
                            #set( $status = 'failing')
                        #end

                        <li>
                            <span style="color:$color">$changedStatus.name now $status</span>
                        </li>
                    #end
                </ul>
            </div>
        #end
    </body>
<html>
