##Threadfix is set to filter the templates to strip indentation spaces and linebreaks to allow for nice template formatting here
##To force evaluation spaces at the beggining of the line or the evaluation of linebreaks, use the $sp and $br variables
##It filters linebreaks by appending ## at the end each line, if you see that in the output, it means something went wrong in the template
##in that case, changing the $variable into ${variable} at the end of the line or adding a trailing space should solve the problems

#set( $severities = ["Critical", "High", "Medium", "Low", "Info"])
#set( $styles = {} )
#set( $styles.colors = {"Critical":"background-color: #f7280c;", "High":"background-color: #f27421;", "Medium":"background-color: #efd20a;", "Low":"background-color: #458a37;", "Info":"background-color: #014b6e;"} )

<html>
<body>
<p>Report of new vulnerabilities since #if($frequency=="Daily")yesterday#{else}last week#{end}.</p>
#if(! $blockedEmailAddresses.isEmpty())
    <p>WARNING while sending this email the following addresses didn't match the filters and were blocked: 
    #foreach($blockedEmailAddress in $blockedEmailAddresses)$blockedEmailAddress #end
    </p>
#end
#foreach( $organization in $organizations )
    #foreach( $application in $organization.applications )
        <h3><u>$organization.name - $application.name</u><span style="font-weight:normal; margin-left: 15px;">#if($application.url)($application.url)#{end}</span></h3>
        <div style="margin-left:15px; margin-bottom:45px;">
        #foreach( $severity in $severities )
            #if( $application.severityTree.containsKey($severity) )
                #set( $tree = $application.severityTree.get($severity) )
                <!--h2>New $severity vulnerabilities</h2-->
                #foreach( $treeElement in $tree )
                    <h4 style="margin-top:25px; margin-bottom:10px;">
                        <span style="$styles.colors.get($severity) color:white; padding:3px; border-radius:3px; margin-right:10px;">$severity</span>
                        $treeElement.numResults - $treeElement.genericVulnerability.name 
                        <a href="http://cwe.mitre.org/data/definitions/${treeElement.genericVulnerability.displayId}.html">(CWE entry)</a>
                    </h4>
                    <ol style="border-left: 1px solid grey; margin-left:30px; padding-left:30px; margin-top:0;">
                        #foreach( $vulnerability in $treeElement.vulnerabilities )
                            #set( $finding = $vulnerability.findings.get(0))
                            <li style="margin-bottom:7px;">$finding.channelVulnerability.name ($finding.scan.applicationChannel.channelType.name) <a href="${baseUrl}$vulnerability.getUri()">[ThreadFix]</a><br>
                                <a style="text-decoration:none">$vulnerability.surfaceLocation.getUrl()</a>
                                ##surprisingly the <a> tag allows to prevent the link evaluation in some email clients
                            </li>
                        #end
                    </ol>
                    #if( $treeElement.numResults > 10 )
                        #set( $numberOmitted = $treeElement.numResults - 10 )
                        <p style="margin-left: 30px;">... ($numberOmitted others omitted)</p>
                    #end
                #end
            #end
        #end
        </div>
    #end
#end
</body>
<html>
