* {
	margin: 0;
}

html {
	background: #43678b url(../images/hdr-bg-repeat.png) top left repeat-x;
}

body {
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90%;
}

.clear {
	clear: both;
}

.errors {
	color: red;
}

.suggest_link {
	background-color: #FFFFFF;
	padding: 2px 6px 2px 6px;
}

.suggest_link_over {
	background-color: #3366CC;
	padding: 2px 6px 2px 6px;
}

.search_suggest {
	position: absolute; 
	background-color: #FFFFFF; 
	text-align: left; 
	border: 1px solid #000000;			
}
	
#wrapper {
	min-height: 91%;
	height: auto !important;
	height: 91%;
	background-image: url(../images/hdr-bg-repeat.png), url(../images/main-top-gradient.png);
	background-position: top left, 0 60px;
	background-repeat: repeat-x;
}

#main {
	text-align: left;
	width:950px;
	margin-left: auto;
	margin-right:auto;
}

#logoBar {
}

#loginInfo {
	 padding-top:10px;
	 color:#000;
	 text-align:right;
	 margin-top: -75px;
}

#logo {
	top: 0%;
	left: 0%;
}

#menu {
    margin-top: -28px;
    margin-top: 13px;
	padding-bottom: 30px;
	;
}

#menu a {
	color:#fff;
	text-decoration:none;
}

#menu table {
	margin-left: 480px;
	color: #fff;
	width: 460px;
}

#menu li.normalLinks a {
	color: #43678b;
}

#menu li.normalLinks a:hover {
	color: #FFF;
}

body#config #tab-config li.normalLinks a:hover {
	color: #FFF;
}

.nav-tabs > li > a {
	text-decoration:none;
}

#menu table tr td {
	height: 32px;
	padding:0 0 0 5px; 
	background: url(../images/btn-bg-out.png) left center repeat-x;
	text-align:center;
}

#menu table tr td a {
	color: #fff;
	font-weight: bold;
	font-size: 96%;
}

#menu table tr td:hover {
	background: url(../images/btn-bg-over.png) right center repeat-x;
}

body#apps #tab-apps,
body.dashboard #tab-dashboard,
body#wafs #tab-wafs,
body#reports #tab-reports,
body#config #tab-config {
	background: url(../images/btn-bg-over.png) right center repeat-x;
}

body#apps #tab-apps a,
body.dashboard #tab-dashboard a,
body#wafs #tab-wafs a,
body#reports #tab-reports a,
body#config #tab-config a {
	color: #43678b;
	
}

body#apps #tab-apps a:hover,
body#wafs #tab-wafs a:hover,
body.dashboard #tab-dashboard a:hover,
body#reports #tab-reports a:hover,
body#config #tab-config a:hover {
	z-index:2;
}

#logout {
	color: #43678b;
}

#logout a {
	color: #43678b;
}

#main-inner {
	padding: 10px 14px 0;
}

#main-inner .corner {
	background-image: url(../images/main-corners.png);
	height: 10px;
	width: 10px;
	position: relative;
}

#main-inner .corners {
	height: 10px;
}

#main-inner .corners .center {
	height: 10px;
	background-color: #EFFBFF;
	margin: 0 10px;
}

#main-inner .top-corners .left {
	background-position: 0 0;
	float: left;
}

#main-inner .top-corners  .right {
	background-position: 0 -10px;
	float: right;
}

#main-inner .bottom-corners .left {
	background-position: 0 -20px;
	float: left;
}

#main-inner .bottom-corners  .right {
	background-position: 0 -30px;
	float: right;
}

#main-content {
	padding-top: 114px;
	background-color: #ffffff;
	padding: 2px 15px 30px;
	min-height: 450px;
	font-size: .9em;
}

#main-content h2 {
	font-size: 1.7em;
	padding-bottom: 15px;
}

#main-content h3 {
	font-size: 1.25em;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 10px;
}

#main-content .top {
	padding-top: 43px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

ul#breadcrumbs {
	float: left;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	color: #5C8998;
	margin-bottom: 15px;
	margin-left: -15px;
	padding-left: 15px;
	background: url(../images/breadcrumbs-bg.gif) 0 1px no-repeat;
}

ul#breadcrumbs li {
	float: left;
	postion: relative;
	list-style-type: square;
	list-style-position: inside;
	margin-left: 8px;
}

ul#breadcrumbs li.first {
	list-style-type: none;
	margin-left: 0;
}

#wrapper,#footer div {
	width: 100%;
	margin-left: auto;
    margin-right: auto;
}

div#helpText {
	background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid;
    color: black;
    margin: 10px 0;
    padding: 15px;
    display: none;
}

div#passwordNag {
	background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid;
    color: black;
    margin: 10px 0;
    padding: 15px;
}

#footer {
	padding-top: 40px;
	background: #43678b;
}

#footer div#poweredBy {
	text-align: center;
	color:#FFFFFF;
	padding-bottom:5px; 
	font-size:12px;
	font-weight:bold;
}

#footer div#bottomLogo{
	background: #43678b;
	padding-top:5px;
	text-align: center;
}

#footer div#copyright {
	color:#FFFFFF; 
	padding-bottom:10px; 
	padding-top:10px;
	font-size:8px; 
	text-align:middle;
}
	                                                                                                                                            
a {
	color: #43678b;
}

a:hover {
	color: #e49518;
}

a.sortheader {
	color: #ffffff;	
}

/**
	Non-Decorator Styling
**/
.label {
	font-weight: bold;
}

.label-2 {
	font-weight: bold;
}

.inputValue {
	padding-left: 10px;
	padding-right: 20px;
	white-space: nowrap;
}

.inputValue-2 {
	padding-left: 10px;
	padding-right: 20px;
	white-space: nowrap;
}

input[type="radio"], input[type="checkbox"] {
	margin:0px;
}

.btn:focus {
	outline:0px;
}

.btn

.subHeader {
	padding-top: 5px;
	padding-bottom: 5px;
}

.short {
	width: 75px;
}

.medium {
	width: 125px;
}

.long {
	width: 200px;
}

ul.squareList li {
	list-style-type: square;
	padding: 0 0 15px 5px;
	font-weight: bold;
	font-size: 1.1em;
}

ul.wafRuleList {
	padding-left: 15px;
}

ul.wafRuleList li {
	list-style-type: disc;
	padding: 0 0 15px 5px;
}

table.noBorders tr td{
	border:none;
	text-align:left;
	vertical-align:middle;
}

table.noBorders tbody > tr:nth-child(2n+1) > td {
	background-color:#FFF
}

.table.auto {
	width:auto;
}

.table tr.expandable > td {
	border-top:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.table tr.expandable td table tr td {
	border-top:1px;
	text-align: center;
}

.table tr.expandable td table tr.right-align th,
.table tr.expandable td table tr.right-align td {
	text-align:right;
}

.table tr.expandable td table tr th.right-align,
.table tr.expandable td table tr td.right-align {
	text-align:right;
}

.table tr.expandable td table tr.left-align th,
.table tr.expandable td table tr.left-align td {
	text-align:left;
}

.table tr.expandable td table tr th.left-align,
.table tr.expandable td table tr td.left-align {
	text-align:left;
}

.table td {
	padding-left:8px;
	vertical-align: middle;
}

.table tr.expandable td table tr.totalsRow td {
	border-top: 1px solid #DDDDDD;
	text-align: center;
}

.table tr.expandable td table tr.totalsRow td.totals {
	padding:5px;
	font-weight:bold;
	text-align:right;
}

.table-hover tbody tr.expandable:hover td,
.table-hover tbody tr.expandable:hover th {
	background-color:#FFFFFF;
}


.table-striped tbody > tr:nth-child(2n+1) > td.no-color, 
.table-striped tbody > tr:nth-child(2n+1) > th.no-color {
	background-color:#FFFFFF;
}

.dropdown-menu.pull-right {
	
}

form {
	margin-bottom:0px;
}

form select, form input {
	margin-bottom:0px;
}

/**
	Data Table
 **/
table.dataTable {
	border: 1px;
}

table.dataTable td {
	padding-top: 10px;
}

th.header { 
    background-image: url(../images/sort_bg.gif);
    background-repeat:no-repeat;
    background-position: right;  
} 

th.headerSortUp { 
    background-image: url(../images/sort_asc.gif); 
}

th.headerSortDown { 
    background-image: url(../images/sort_desc.gif); 
}

.white-inner-table tbody > tr > td table.clear tbody > tr:nth-child(2n+1) > td {
	background-color:#FFF;
}

.table th table th, .table td table td {
	border-top:0px;
}

.table th table th.centered, .table td table td.centered {
	vertical-align:middle;
}

table.padded tr td, table.padded tr th {
	padding:5px;
}

table.bold-headers tr th {
	font-weight:bold;
}

.pagination ul {
	vertical-align:middle;
}

.pagination input {
	margin-bottom:0px;
}

.table-hover tbody tr.error:hover td, .table-hover tbody tr.error:hover th {
	background-color: #EBCCCC;
}

.table tbody tr.error td, .table tbody tr.error th {
	background-color:#F2DEDE;
}

.table-hover tbody tr.warning:hover td, .table-hover tbody tr.warning:hover th {
	background-color: #faf2cc;
}

.table tbody tr.warning td, .table tbody tr.warning th {
	background-color:#fcf8e3;
}

.table-hover tbody tr.success:hover td, .table-hover tbody tr.success:hover th {
	background-color: #d0e9c6;
}

.table tbody tr.success td, .table tbody tr.success th {
	background-color:#dff0d8;
}

.table-hover tbody tr.info:hover td, .table-hover tbody tr.info:hover th {
	background-color: #c4e3f3;
}

.table tbody tr.info td, .table tbody tr.info th {
	background-color:#d9edf7;
}


.table-hover tbody tr.error.expandable:hover td, .table-hover tbody tr.error.expandable:hover th {
	background-color: #F2DEDE;
}

.table-hover tbody tr.warning.expandable:hover td, .table-hover tbody tr.warning.expandable:hover th {
	background-color: #fcf8e3;
}

.table-hover tbody tr.success.expandable:hover td, .table-hover tbody tr.success.expandable:hover th {
	background-color: #dff0d8;
}

.table-hover tbody tr.info.expandable:hover td, .table-hover tbody tr.info.expandable:hover th {
	background-color: #d9edf7;
}

.left-tile {
	width:45%;
	float:left;
}

.right-tile {
	width:50%;
	float:right;
}

.margin-bottom {
	 margin-bottom:18px;
}

.margin-top {
	margin-top:18px;
}

.modal input {
	margin-bottom:0px;
}

td.bold {
	font-weight:bold;
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline:none;
}

.caret-right {
	border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    border-right: 4px;
    display: inline-block;
    height: 0;
    cursor: pointer;
    vertical-align: top;
    width: 0;
}

.caret-down {
	border-right: 4px solid transparent;
	border-bottom: 4px solid #000000;
	border-left: 4px solid transparent;
	content: "";
	height: 0;
	vertical-align:top;
	width:0;
}

.caret-right.expanded {
	border-right: 4px solid transparent;
	border-top: 4px solid #000000;
	border-left: 4px solid transparent;
	content: "";
	height: 0;
	vertical-align:top;
	width:0;
}
