<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/context 
						   http://www.springframework.org/schema/context/spring-context-3.0.xsd
						   http://www.springframework.org/schema/aop
						   http://www.springframework.org/schema/aop/spring-aop.xsd"
        >

	<!-- Moved messageSource bean from dispatcher-servlet as it was causing problems. The code would try to reach the message source
	in the root context-->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
			<property name="basename" value="ApplicationResources" />
			<property name="useCodeAsDefaultMessage" value="true" />
		</bean>

	<bean id="CsrfPreventionFilter" class="com.denimgroup.threadfix.webapp.filter.CsrfPreventionFilter"/>	
	
	<!--
		Activates various annotations to be detected in bean classes:
		Spring's @Required and @Autowired, as well as JSR 250's @Resource.
	-->
	<context:annotation-config />

    <!-- add AOP support -->
    <aop:aspectj-autoproxy/>
	
	<!-- Scans the classpath of this application for @Components to deploy as beans -->
	<context:component-scan base-package="com.denimgroup.threadfix" />
	
	<!-- For resource properties files -->
	<context:property-placeholder location="classpath:jdbc.properties,classpath:jms.properties" />
	
	<!-- To enable Spring bean validation -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
</beans>