<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<display-name>threadfix</display-name>
	<description>ThreadFix Vulnerability Manager</description>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext*.xml
			/WEB-INF/security.xml
			classpath:/applicationContext-hibernate.xml
			classpath:/applicationContext-scheduling.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>sitemeshFilter</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemeshFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ClickjackHeaderFilter</filter-name>
		<filter-class>com.denimgroup.threadfix.webapp.filter.ClickjackHeaderFilter</filter-class>
		<init-param>
			<param-name>mode</param-name>
			<param-value>DENY</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ClickjackHeaderFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CSRFPreventionFilter</filter-name>
		<filter-class>com.denimgroup.threadfix.webapp.filter.CsrfPreventionFilter</filter-class>
		<init-param>
			<param-name>entryPoints</param-name>
			<param-value>
        		,/,/index.jsp,/login.jsp,/organizations,/wafs,/configuration,/reports,/dashboard,/scans,
        		/configuration/keys,/configuration/defecttrackers,/jobs/all,/configuration/remoteproviders,
        		/configuration/users/password,/configuration/users,/configuration/roles,/configuration/logs,
        		/configuration/defaults,/configuration/filters,/configuration/scanqueue,/scanplugin/index,
        		/j_spring_security_check,/j_spring_security_logout,/images/*,/styles/*,/scripts/*,/jasper/*,/rest/*,
        		regex ^/rest/,
        		regex ^/jasperimage/[0-9a-zA-Z]+/[0-9a-zA-Z_]+$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/scans/new/ajax_cwe$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/scans/new/ajax_url$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/table$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/defectTable$,
        		regex ^/organizations/[0-9]+/applications/jsontest$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/scans/[0-9]+/table$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/falsepositives/table$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/scans/[0-9]+/unmappedTable$,
        		protected-regex ^/dashboard/leftReport$,
        		protected-regex ^/dashboard/rightReport$,
		    	protected-regex ^/configuration/defecttrackers/new$,
		    	protected-regex ^/configuration/defecttrackers/[0-9]+/edit$,
		    	protected-regex ^/configuration/defecttrackers/[0-9]+/delete$,
		    	protected-regex ^/configuration/filters/[0-9]+/delete$,
		    	protected-regex ^/configuration/filters/[0-9]+/edit$,
		    	protected-regex ^/configuration/filters/new$,
		    	protected-regex ^/configuration/filters/tab$,
        		protected-regex ^/configuration/keys/new$,
        		protected-regex ^/configuration/keys/[0-9]+/edit$,
        		protected-regex ^/configuration/keys/[0-9]+/delete$,
        		protected-regex ^/configuration/remoteproviders/[0-9]+/table$,
		    	protected-regex ^/configuration/remoteproviders/[0-9]+/configure$,
		    	protected-regex ^/configuration/remoteproviders/[0-9]+/apps/[0-9]+/edit$,
		    	protected-regex ^/configuration/remoteproviders/[0-9]+/apps/[0-9]+/delete/[0-9]+$,
		    	protected-regex ^/configuration/roles/new$,
		    	protected-regex ^/configuration/roles/[0-9]+/edit$,
        		protected-regex ^/configuration/users/[0-9]+/access/[0-9]+/edit$,
        		protected-regex ^/configuration/users/[0-9]+/access/team/[0-9]+/delete$,
        		protected-regex ^/configuration/users/[0-9]+/access/app/[0-9]+/delete$
        		protected-regex ^/configuration/users/[0-9]+/access/new$,
		    	protected-regex ^/organizations/modalAdd$,
		    	protected-regex ^/organizations/severityFilter/set$,
		    	protected-regex ^/organizations/teamTable$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/addComment$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/closedTab$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/closedVulnerabilities/table$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/defects$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/defectSubmission$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/docsTab$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/scanQueueTab$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/documents/upload$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/documents/vulnerabilities/[0-9]+/upload$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/documents/[0-9]+/download$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/documents/[0-9]+/delete$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/edit$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/edit/wafAjax$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/edit/addDTAjax$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/falsePositiveTab$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/falsePositives/table$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/falsePositives/mark$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/falsePositives/unmark$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/filters/new$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/filters/tab$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/filters/[0-9]+/edit$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/filters/[0-9]+/delete$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/hiddenTab,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/hidden/table,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/progress/[0-9]+$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/scans/new$,
		    	protected-regex ^/organizations/[0-9]+/applications/[0-9]+/scans/upload$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/scanTab$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/severityFilter/set$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/table/open$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/table/close$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/table$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/vulnTab$,
		    	protected-regex ^/organizations/[0-9]+/filters/[0-9]+/delete$,
		    	protected-regex ^/organizations/[0-9]+/filters/[0-9]+/edit$,
		    	protected-regex ^/organizations/[0-9]+/filters/new$,
        		protected-regex ^/organizations/[0-9]+/filters/tab$,
        		protected-regex ^/organizations/[0-9]+/severityFilter/tab$,
        		protected-regex ^/organizations/[0-9]+/getReport$,
        		protected-regex ^/organizations/[0-9]+/modalEdit$,
		    	protected-regex ^/organizations/[0-9]+/modalAddApp$,
        		protected-regex ^/reports/ajax$,
        		protected-regex ^/scans/table$,
		    	protected-regex ^/wafs/[0-9]+/edit/ajax$,
        		protected-regex ^/wafs/new/ajax$,
        		protected-regex ^/wafs/new/ajax/appPage$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/vulnerabilities/[0-9]+/addComment$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/getDefectsFromDefectTracker$,
        		protected-regex ^/configuration/scanqueue/organizations/[0-9]+/applications/[0-9]+/scanQueueTask/[0-9]+/delete$,
        		protected-regex ^/configuration/scanqueue/organizations/[0-9]+/applications/[0-9]+/addScanQueueTask$,
        	</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CSRFPreventionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>openSessionFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>flushMode</param-name>
			<param-value>AUTO</param-value>
		</init-param>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>sessionFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>openSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>urlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>log4j</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>urlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/index.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

</web-app>