<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>threadfix</display-name>
	<description>ThreadFix Vulnerability Manager</description>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext*.xml
			/WEB-INF/security.xml
			classpath:/applicationContext-hibernate.xml
			classpath:/applicationContext-scheduling.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>sitemeshFilter</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemeshFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ClickjackHeaderFilter</filter-name>
		<filter-class>com.denimgroup.threadfix.webapp.filter.ClickjackHeaderFilter</filter-class>
		<init-param>
			<param-name>mode</param-name>
			<param-value>DENY</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ClickjackHeaderFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CSRFPreventionFilter</filter-name>
		<filter-class>com.denimgroup.threadfix.webapp.filter.CsrfPreventionFilter</filter-class>
		<init-param>
			<param-name>entryPoints</param-name>
			<param-value>
        		,/,/index.jsp,/login.jsp,/organizations,/wafs,/configuration,/reports,
        		/j_spring_security_check,/j_spring_security_logout,/images/*,/styles/*,/scripts/*,/jasper/*,/rest/*,
        		regex ^/rest/,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/scans/new/ajax_cwe$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/scans/new/ajax_url$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/table$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/defectTable$,
        		regex ^/organizations/[0-9]+/applications/jsontest$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/scans/[0-9]+/table$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/falsepositives/table$,
        		regex ^/organizations/[0-9]+/applications/[0-9]+/scans/[0-9]+/unmappedTable$,
        		protected-regex ^/configuration/users/[0-9]+/access/new$,
        		protected-regex ^/organizations/[0-9]+/applications/[0-9]+/addComment$,
        		protected-regex ^/configuration/users/[0-9]+/access/[0-9]+/edit$,
        		protected-regex ^/configuration/users/[0-9]+/access/team/[0-9]+/delete$,
        		protected-regex ^/configuration/users/[0-9]+/access/app/[0-9]+/delete$
        	</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CSRFPreventionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>openSessionFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>flushMode</param-name>
			<param-value>AUTO</param-value>
		</init-param>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>sessionFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>openSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>urlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>log4j</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>urlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/index.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

</web-app>